.colorPickerPropertiesLabel{
	font-family: Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif;
	font-size  : 14px; 
	white-space: NOWRAP;
	color      : #666666;
	width      : 30px;
	overflow   : HIDDEN;
}

.colorPickerThumbnail{
	border    : 1px solid #888888;
	background: WHITE;
	width     : 50px;
	height    : 50px;
}