/**
 * Arquivo que contém as definições dos estilos utilizados pelos componentes visuais dialogBox (caixa de diálogo),
 * messageBox (caixa de mensagens), confirmBox (caixa de confirmação).
 * 
 * @author fvilarinho
 * @version 3.0
 */
 
/**
 * Estilo que define o componente.
 */
.dialogBox{
	position  : ABSOLUTE;
	visibility: HIDDEN;
	z-index   : 101;
}

/**
 * Estilo que define o texto do título do componente.
 */
.dialogBoxTitle{
	background : url(../images/dialogBoxTitle.gif) REPEAT-X;
	color      : #666666;
	height     : 25px;
	font-family: Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif;
	font-size  : 14px;
	font-weight: BOLD;
	text-align : CENTER;
	white-space: NOWRAP;
}

/**
 * Estilo que define o conteúdo do componente.
 */
.dialogBoxContent{
	-webkit-box-shadow   : 2px 3px 4px #aaaaaa;
	-moz-box-shadow      : 2px 3px 4px #aaaaaa;
	box-shadow           : 2px 3px 4px #aaaaaa;	
	-ms-filter           : "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#aaaaaa')";
	filter               : progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#aaaaaa');
	-webkit-border-radius: 3px;
	-moz-border-radius   : 3px;
	border-radius        : 3px;
	border               : 1px SOLID #aaaaaa;         
	background           : #efefef;
	border-spacing       : 0px;
	padding              : 1px;
}

/**
 * Estilo que define o texto do conteúdo do componente.
 */
.dialogBoxText{
	font-family   : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif;
	font-size     : 14px;
	background    : #efefef;
	color         : #666666;
	width         : 100%;
	border        : NONE;
	border-spacing: 0px;
	padding       : 0px;	
}

/**
 * Estilo que define o ícone de informação.
 */
.infoIcon{
	background: url(../images/infoIcon.png) NO-REPEAT;
	width     : 36px;
	height    : 36px;
}

/**
 * Estilo que define o ícone de erro.
 */
.errorIcon{
	background: url(../images/errorIcon.gif) NO-REPEAT;
	width     : 36px;
	height    : 36px;
}

/**
 * Estilo que define o ícone de alerta.
 */
.warningIcon{
	background: url(../images/warningIcon.gif) NO-REPEAT;
	width     : 36px;
	height    : 36px;
}

/**
 * Estilo que define o ícone de validação.
 */
.validationIcon{
	background: url(../images/warningIcon.gif) NO-REPEAT;
	width     : 36px;
	height    : 36px;
}