/**
 * Arquivo que contém as definições dos estilos utilizados pelo componente visual slider (barra de deslize).
 * 
 * @author fvilarinho
 * @version 3.0
 */

/**
 * Estilo que define o lado esquerdo do componente.
 */
.leftSliderBar{
	background: url(../images/leftSliderBar.png) no-repeat;
	width     : 2px;
	height    : 5px;
}
 
/**
 * Estilo que define o corpo do componente.
 */
.sliderBarBody{
	background: url(../images/sliderBarBody.png) repeat-x;
	height    : 5px;
}

/**
 * Estilo que define o controle de deslize do componente.
 */
.sliderBarControl{
	position  : relative;
	left      : 0px;
	top       : 0px;
	background: url(../images/sliderBarControl.png) repeat-x;
	width     : 17px;
	height    : 19px;
}

/**
 * Estilo que define o lado esquerdo do componente.
 */
.rightSliderBar{
	background: url(../images/rightSliderBar.png) no-repeat;
	width     : 2px;
	height    : 5px;
}
