/**
 * Arquivo que contém as definições dos estilos utilizados pelo componente visual calendário.
 * 
 * @author fvilarinho
 * @version 1.0
 */

/**
 * Estilo que define o dia corrente.
 */
.currentCalendarDay{
	font-family: Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif;
	font-size  : 11px;
	font-weight: BOLD;
	color      : #ffffff;
	width      : 25px;
	height     : 20px;
	text-align : CENTER;
	background : #1e8fad;
	cursor     : POINTER;
}

/**
 * Estilo que define o conteúdo do componente.
 */
.calendarContent{
	border         : NONE;
	border-collapse: COLLAPSE;
}

.calendarText{
	border-spacing : 0px;
	padding        : 0px;
}

/**
 * Estilo que define o componente.
 */
.calendar{
	position             : ABSOLUTE;
    -webkit-box-shadow   : 2px 3px 4px #aaaaaa;
    -moz-box-shadow      : 2px 3px 4px #aaaaaa;
	box-shadow           : 2px 3px 4px #aaaaaa;
	-ms-filter           : "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#aaaaaa')";
	filter               : progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
	border               : 1px SOLID #888888;
	-webkit-border-radius: 3px;
	-moz-border-radius   : 3px;
	border-radius        : 3px;
	background           : #ffffff;
	text-align           : CENTER;
	width                : 200px;
	visibility           : HIDDEN;
}
 
/**
 * Estilo que define o dia do calendário.
 */
.calendarDay{
	font-family: Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif;
	font-size  : 11px;
	color      : #666666;
	width      : 25px;
	height     : 20px;
	text-align : CENTER;
	border     : 1px SOLID #888888;
	background : #ffffff;
	cursor     : POINTER;
}

/**
 * Estilo que define o texto contendo a data atual.
 */
.calendarDisplay{
	font-family: Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif;
	font-size  : 11px;
	color      : #666666;
	text-align : CENTER;
}

/**
 * Estilo que define o dia selecionado do calendário.
 */
.calendarSelectedDay{
	font-family: Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif;
	font-size  : 11px;
	font-weight: BOLD;
	color      : #1e8fad;
	width      : 25px;
	height     : 20px;
	text-align : CENTER;
	border     : 1px SOLID #888888;
	background : #ffffff;
	cursor     : POINTER;
}

/**
 * Estilo que define o cabeçalho dos dias da semana.
 */
.calendarWeekHeader{
	font-family: Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif;
	font-size  : 11px;
	font-weight: BOLD;
	border     : 1px OUTSET #888888;
	background : #888888;
	color      : #ffffff;
	text-align : CENTER;
	width      : 25px;
	height     : 20px;
}

/**
 * Estilo que define o botão do próximo mês.
 */
.nextMonthButton{
	background: url(../images/nextPageButton.png) NO-REPEAT;
	width     : 20px;
	height    : 20px;
	border    : NONE;
	cursor    : POINTER;
}

/**
 * Estilo que define o botão do próximo ano.
 */
.nextYearButton{
	background: url(../images/lastPageButton.png) NO-REPEAT;
	width     : 20px;
	height    : 20px;
	border    : NONE;
	cursor    : POINTER;
}

/**
 * Estilo que define o botão do mês anterior.
 */
.previousMonthButton{
	background: url(../images/previousPageButton.png) NO-REPEAT;
	width     : 20px;
	height    : 20px;
	border    : NONE;
	cursor    : POINTER;
}

/**
 * Estilo que define o botão do ano anterior.
 */
.previousYearButton{
	background: url(../images/firstPageButton.png) NO-REPEAT;
	width     : 20px;
	height    : 20px;
	border    : NONE;
	cursor    : POINTER;
}

/**
 * Estilo que define o botão para exibição do componente.
 */
.showCalendarButton{
	background: url(../images/showCalendarButton.png) NO-REPEAT;
	width     : 20px;
	height    : 20px;
	border    : NONE;
	cursor    : POINTER;
}	
