/**
 * Arquivo que contém as definições dos estilos utilizados pelo componente visual grid.
 * 
 * @author fvilarinho
 * @version 1.0
 */

/**
 * Estilo que define o ícone de ordenação ascendente.
 */
.ascendOrderIcon{
	background: url("../images/ascendOrderIcon.gif") NO-REPEAT;
	width     : 9px;
	height    : 10px;
	border    : NONE;
}
	
/**
 * Estilo que define o ícone de ordenação descendente.
 */
.descendOrderIcon{
	background: url("../images/descendOrderIcon.gif") NO-REPEAT;
	width     : 9px;
	height    : 10px;
	border    : NONE;
}

/**
 * Estilo que define os controles do componente.
 */
.gridControl{
}

/**
 * Estilo que define o cabeçalho do componente.
 */
.gridHeader{
	background : url(../images/gridHeader.gif);
	color      : #ffffff;
	font-family: Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif;
	font-size  : 14px;
	font-weight: BOLD;
	padding    : 1px;
	border     : 1px OUTSET #efefef;
	height     : 25px;
}

/**
 * Estilo que define os links do cabeçalho do componente.
 */
.gridHeaderLink{
	font-family    : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif;
	font-size      : 14px;
	text-decoration: NONE;
	color          : #ffffff;
	cursor         : POINTER;
}

/**
 * Estilo que define o efeito de passagem do mouse em um link do cabeçalho do componente.
 */
.gridHeaderLink:hover{
	font-family    : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif;
	font-size      : 14px;
	text-decoration: UNDERLINE;
	color          : #ffffff;
}

/**
 * Estilo que define o efeito de um link ativo do cabeçalho do componente.
 */
.gridHeaderLink:active{
	font-family    : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif;
	font-size      : 14px;
	text-decoration: NONE;
	color          : #ffffff;
}

/**
 * Estilo que define os links dos detalhes do componente.
 */
.gridDetailLink{
	font-family    : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif;
	font-size      : 14px;
	text-decoration: NONE;
	color          : #666666;
	cursor         : POINTER;
}

/**
 * Estilo que define o efeito de passagem do mouse em um link dos detalhes do componente.
 */
.gridDetailLink:hover{
	font-family    : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif;
	font-size      : 14px;
	text-decoration: UNDERLINE;
	color          : #666666;
	cursor         : POINTER;
}

/**
 * Estilo que define o efeito de um link ativo dos detalhes do componente.
 */
.gridDetailLink:active{
	font-family    : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif;
	font-size      : 14px;
	text-decoration: NONE;
	color          : #666666;
}

/**
 * Estilo que define o agrupamento dos detalhes do componente.
 */
.gridAggregate{
	background : #eaeace;
	padding    : 1px;
	color      : #666666;
	font-family: Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif;
	font-weight: BOLD;
	font-size  : 14px;
	border     : 1px OUTSET #fffffa;
	height     : 25px;
}

/**
 * Estilo que define os detalhes do componente.
 */
.gridDetail{
	background : #fffffa;
	padding    : 1px;
	color      : #666666;
	font-family: Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif;
	font-weight: NORMAL;
	font-size  : 14px;
	border     : 1px OUTSET #fffffa;
	height     : 25px;
}
