/**
 * Arquivo que contém as definições dos estilos utilizados pelo componente visual guides (guias).
 * 
 * @author fvilarinho
 * @version 1.0
 */
  
/**
 * Estilo que define o componente.
 */
.guides{
	border-collapse: COLLAPSE;
	border-spacing : 0px;
	padding        : 0px;
	margin         : 0px;
}
 
/**
 * Estilo que define uma guia.
 */
.guide{
	-webkit-border-top-left-radius : 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft     : 3px;
	-moz-border-radius-topright    : 3px;
	border-top-left-radius         : 3px;
	border-top-right-radius        : 3px;
	border                         : 1px SOLID #888888;
	background                     : url(../images/guide.gif) REPEAT-X;
	border-spacing                 : 0px;
	padding                        : 1px;
	text-align                     : CENTER;
	font-weight                    : NORMAL;
	color                          : #666666;
	cursor                         : POINTER;
	height                         : 25px;
}

/**
 * Estilo que define a guia atual.
 */
.currentGuide{
	-webkit-border-top-left-radius : 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft     : 3px;
	-moz-border-radius-topright    : 3px;
	border-top-left-radius         : 3px;
	border-top-right-radius        : 3px;
	border-top                     : 1px SOLID #888888;
	border-left                    : 1px SOLID #888888;
	border-right                   : 1px SOLID #888888;
	border-bottom                  : NONE;
	background                     : url(../images/currentGuide.gif) REPEAT-X;
	border-spacing                 : 0px;
	padding                        : 1px;
	text-align                     : CENTER;
	font-weight                    : BOLD;
	color                          : #666666;
	cursor                         : POINTER;
	height                         : 26px;
}
			
/**
 * Estilo que define o conteúdo da guia.
 */
.guideContent{
	-webkit-border-bottom-left-radius : 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-bottomleft     : 3px;
	-moz-border-radius-bottomright    : 3px;
	border-bottom-left-radius         : 3px;
	border-bottom-right-radius        : 3px;
	border-bottom                     : 1px SOLID #888888;
	border-left                       : 1px SOLID #888888;
	border-right                      : 1px SOLID #888888;
	border-top                        : NONE;
	background                        : #efefef;
	border-spacing                    : 0px;
	padding                           : 1px;
	font-family                       : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif;
	font-size                         : 14px;
	color                             : #666666;
	width                             : 100%;
}

/**
 * Estilo que define o conjunto de botões das guias.
 */
.guidesButtons{
	background: #efefef;
	height    : 40px;
	text-align: RIGHT;
}	

/**
 * Estilo que define o label de uma guia.
 */
.guideLabel{
	font-family: Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif;
	font-size  : 16px;
}

/**
 * Estilo que define o botão cuja a ação é posicionar na guia anterior.
 */
.previousGuideButton{
	background: url(../images/firstPageButton.png) NO-REPEAT;
	width     : 24px;
	height    : 20px;
	border    : NONE;
	cursor    : POINTER;
}

/**
 * Estilo que define o botão cuja a ação é posicionar na próxima guia.
 */
.nextGuideButton{
	background: url(../images/lastPageButton.png) NO-REPEAT;
	width     : 24px;
	height    : 20px;
	border    : NONE;
	cursor    : POINTER;
}