/**
 * Arquivo que contém as definições dos estilos utilizados pelo componente visual caixa de diálogo.
 * 
 * @author fvilarinho
 * @version 1.0
 */
 
/**
 * Estilo que define o detalhamento da mensagem de erro.
 */
.errorTrace{
	height     : 150px;
	font-family: Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif;
	font-size  : 12px;
	border     : 1px SOLID SILVER;
	width      : 400px;
}