/**
 * Arquivo que contém as definições dos estilos utilizados pelo componente visual messageBox (caixa de mensagens).
 * 
 * @author fvilarinho
 * @version 1.0
 */
 
/**
 * Estilo que define o detalhamento da mensagem de erro.
 */
.errorTrace{
	height     : 250px;
	font-family: Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif;
	font-size  : 14px;
	border     : 1px SOLID SILVER;
	width      : 400px;
}