/**
 * Arquivo que contém as definições dos estilos utilizados pelo componente visual de pager (paginação).
 * 
 * @author fvilarinho
 * @version 1.0
 */

/**
 * Estilo que define o botão da primeira página.
 */
.firstPageButton{
	background: url("../images/firstPageButton.png") NO-REPEAT;	
	width     : 20px;
	height    : 20px;
	border    : NONE;
	cursor    : POINTER;
}

/**
 * Estilo que define o botão desabilitado da primeira página.
 */
.firstPageButtonDisabled{
	background: url("../images/firstPageButtonDisabled.png") NO-REPEAT;	
	width     : 20px;
	height    : 20px;
	border    : NONE;
}

/**
 * Estilo que define o botão da página anterior.
 */
.previousPageButton{
	background: url("../images/previousPageButton.png") NO-REPEAT;	
	width     : 20px;
	height    : 20px;
	border    : NONE;
	cursor    : POINTER;
}

/**
 * Estilo que define o botão desabilitado da página anterior.
 */
.previousPageButtonDisabled{
	background: url("../images/previousPageButtonDisabled.png") NO-REPEAT;	
	width     : 20px;
	height    : 20px;
	border    : NONE;
}

/**
 * Estilo que define o botão da próxima página.
 */
.nextPageButton{
	background: url("../images/nextPageButton.png") NO-REPEAT;	
	width     : 20px;
	height    : 20px;
	border    : NONE;
	cursor    : POINTER;
}

/**
 * Estilo que define o botão desabilitado da próxima página.
 */
.nextPageButtonDisabled{
	background: url("../images/nextPageButtonDisabled.png") NO-REPEAT;	
	width     : 20px;
	height    : 20px;
	border    : NONE;
}

/**
 * Estilo que define o botão da última página.
 */
.lastPageButton{
	background: url("../images/lastPageButton.png") NO-REPEAT;	
	width     : 20px;
	height    : 20px;
	border    : NONE;
	cursor    : POINTER;
}

/**
 * Estilo que define o botão desabilitado da última página.
 */
.lastPageButtonDisabled{
	background: url("../images/lastPageButtonDisabled.png") NO-REPEAT;	
	width     : 20px;
	height    : 20px;
	border    : NONE;
}

/**
 * Estilo que define o componente.
 */
.pager{
	padding       : 2px;
	border-spacing: 0px;
}

/**
 * Estilo que define o texto contendo o índice de páginas.
 */
.pagerDisplay{
	font-family          : Trebuchet MS, Verdana, Tahoma, Arial, Sans-Serif;
	font-size            : 14px;
	font-weight          : BOLD;
	color                : #5393a6;
	width                : 20px;
	background           : #ffffff;
	-webkit-border-radius: 3px;
	-moz-border-radius   : 3px;
	border-radius        : 3px;
	border               : 1px SOLID #888888;
}